{% extends 'listings/base.html' %}

{% block content %}

<h1>Groupes</h1>
<a href="{% url 'band-create' %}">Ajouter un groupe</a>
<p>Il y a pour l'instant
    {% if bands|length < 5 %}
    peu de
    {% elif bands|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}groupes :</p>
<!-- TODO : liste des groupes -->
<div class="grid-container">
    {% for band in bands %}
    <div class="grid-item"><a href="{% url 'band-detail' band.id %}">{{band.name}}</a> -
        <a href="{% url 'band-update' band.id %}">[edit]</a></div>
    {% endfor %}
</div>

{% endblock  %}