<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
        <link rel="stylesheet" href="{% static 'listings/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'listings/form.css' %}">
        <title>Merchex</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <nav id='menu'>
            <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
                <li><a href="{% url 'listing-list' %}">Annonces</a></li>
                <li><a href="{% url 'band-list' %}">Groupes</a>
                <!-- Si on veut rajouter des sous-items :
                <li><a class='dropdown-arrow' href="{% url 'band-list' %}">Groupes</a>
                    ET
                <ul class='sub-menus'>
                    <li><a href='http://'>Sous-groupe 1</a></li>
                </ul>
                -->
                </li>
                <li><a href="{% url 'about-us' %}">About</a></li>
                <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
            </ul>
          </nav>
        <div id='block_central'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>