/* ------------------------- Elements ------------------------- */

body {
    background: linear-gradient(292deg, #865C5C 0%, #fff 97%);
}

h1 {
    font-size: 20em;
    text-align: center;
}

/* ------------------------- Classes ------------------------- */

.errorlist {
    margin-bottom: -10px
}

/* ------------------------- Ids ------------------------- */

#block_central {
    margin: 3em 13em;
    padding: 1em 2em;

    box-shadow: 20px 24px 35px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 20px 24px 35px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 24px 35px -1px rgba(0, 0, 0, 0.75);
}